/* Existing styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.navbar, .footer {
    background-color: #333; /* 颜色块背景色 */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left img {
    height: auto; 
}

.right {
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 20px;
    cursor: pointer; /* 确保指针形状改变，提示用户可以点击 */
    margin-right: 10px;
    color: #fff; /* 确保放大镜图标颜色可见 */
    text-decoration: none; /* 确保没有下划线 */
  }

.username-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #4CAF50; /* 用户名标识背景颜色 */
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    position: relative;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.greeting {
    font-size: 16px;
    margin-left: 10px;
}

main {
    padding: 20px;
    min-height: calc(100vh - 100px); /* 确保主内容区占满剩余空间 */
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow: auto; 
}

.movie-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.movie-item img {
    width: 100%;
    aspect-ratio: 700 / 1100;
    object-fit: cover;
    border-radius: 10px;
  }

.movie-details {
    margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .pagination button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination button:hover {
    background-color: #45a049;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }