* {
    margin: 0;
    padding: 0;
}

.login-background, .register-background {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #f0f0f0; /* 强制应用样式 */
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper, .register-wrapper {
    background-color: rgba(255, 255, 255, 0.8); /* 使用半透明背景颜色 */
    width: 358px;
    padding: 0 50px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影 */
}

.header {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}

.input-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(128, 125, 125);
    font-size: 15px;
    outline: none;
}

.btn {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 40px;
    background-color: #4CAF50; /* 选择合适的颜色 */
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049; /* 悬停颜色 */
}

.msg {
    text-align: center;
    line-height: 88px;
}

a {
    text-decoration-line: none;
    color: #0d47a1;
}
