<header class="navbar">
  <div class="content">
    <div class="left">
      <a [routerLink]="['/home']" class="logo">
        <img src="../../../assets/logo.jpg" alt="THMG Logo" width="100" height="30">
      </a>
    </div>
    <div class="right">
      <a [routerLink]="['/query']" class="search-icon"><i class="fas fa-search"></i></a> <!-- 确保这是一个 <a> 标签 -->
      <div class="dropdown">
        <span class="username-circle">{{ userInfo?.username?.charAt(0) || '' }}</span>
        <div class="dropdown-content">
          <a (click)="getUserInfo()" [routerLink]="['/user-info']">{{ userInfo?.username }}</a>
          <a (click)="logout()">Logout</a>
          <a *ngIf="is_admin" [routerLink]="['/admin/manage']">Manage</a>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <section class="movie-list" *ngIf="movies.length > 0; else noFavorites">
    <div class="movie-item" *ngFor="let movie of movies">
      <img *ngIf="getPosterUrl(movie)" [src]="getPosterUrl(movie)" alt="{{ movie.title }}">
      <div class="movie-details">
        <h2>{{ movie.title }}</h2>
        <p><strong>Language:</strong> {{ movie.language }}</p>
        <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
        <p><strong>Duration:</strong> {{ movie.duration }}</p>
        <p><strong>Tags:</strong> {{ movie.tags?.length ? movie.tags.join(', ') : 'None' }}</p>
        <button *ngIf="!movie.isFavorite" (click)="addToFavorites(movie._id)">Star</button>
        <button *ngIf="movie.isFavorite" (click)="removeFromFavorites(movie.favorite_id)">Stared</button>
        <a [routerLink]="['/details', movie._id]">Details</a>
      </div>
    </div>
  </section>
  <ng-template #noFavorites>
    <p>You have no favorite movies yet.</p>
  </ng-template>
</main>

<footer class="footer">
  <div class="content">
    <div class="left">
      <img src="../../../assets/logo.jpg" alt="THMG Logo" width="100" height="auto">
    </div>
    <div class="right">
      <span class="greeting">Hello, {{ userInfo?.username }}!</span>
    </div>
  </div>
</footer>
